mixin imageInput(name, required, multiple) 
  .imageInput.valid-image-input
    input.imageInput__field.input--field(type="file", data-max-photos="3" name=name id=name required=`${required || false}` multiple=multiple)
    label.imageInput__label(for=name) 
      img.imageInput__label--cross(src="../../shared/img/redCross.svg", alt="")